@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// Colors
$color_bg: #0D47A1;
$color_pink: #ec407a;
$color_green: #2ecc71;

// Fonts
$font_monoton: 'Monoton', cursive;
$font_os: 'Open Sans', sans-serif;
